{% extends 'app_general/components/base.html' %}
{% load static %}

<!-- Title  -->
{% block title %} About us {% endblock %}




{% block content %}
<!-- About Section -->
<div class="w3-container" style="padding:128px 80px" id="about">
    <h3 class="w3-center"><strong>ABOUT US</strong></h3>
    <div class="w3-row-padding w3-center" style="text-align: center;">
        <div class="w3-quarter w3-margin w3-padding-24 w3-round-large w3-hover-teal w3-card-4" style="display: inline-block; float: none;">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Passion</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter w3-margin w3-padding-24 w3-round-large w3-hover-teal w3-card-4" style="display: inline-block; float: none;">
            <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Design</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
      <div class="w3-quarter w3-margin w3-padding-24 w3-round-large w3-hover-teal w3-card-4" style="display: inline-block; float: none;">
        <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
        <p class="w3-large">Support</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </div>
    </div>
    
    <div class="w3-container w3-cel-row">
        <div class="w3-cell w3-mobile">
            <div class="w3-margin">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p class="w3-padding-24" style="text-align: justify; text-indent:5cap;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis aperiam molestiae quas laborum eligendi sint officia quae esse, saepe minima facilis sequi sapiente quos excepturi! Ad fugiat error ipsam optio rem, voluptatibus nemo cupiditate facilis iusto? Quibusdam culpa aperiam odit placeat asperiores suscipit veritatis veniam similique consequatur aliquid hic ipsum doloribus ad, dolorem et? Assumenda maxime hic modi voluptate culpa amet optio quia eaque nisi harum nihil vero eveniet sapiente dolorem illum, ipsum laudantium voluptates! Quia maxime eveniet earum pariatur voluptate eius autem nostrum, praesentium itaque qui repudiandae doloremque quisquam, nobis, et consectetur? Nisi libero amet delectus quibusdam odit distinctio.</p>
            </div>
        </div>
        <div class="w3-cell w3-mobile">
            <div class="w3-margin">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p class="w3-padding-24" style="text-align: justify; text-indent:5cap;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis aperiam molestiae quas laborum eligendi sint officia quae esse, saepe minima facilis sequi sapiente quos excepturi! Ad fugiat error ipsam optio rem, voluptatibus nemo cupiditate facilis iusto? Quibusdam culpa aperiam odit placeat asperiores suscipit veritatis veniam similique consequatur aliquid hic ipsum doloribus ad, dolorem et? Assumenda maxime hic modi voluptate culpa amet optio quia eaque nisi harum nihil vero eveniet sapiente dolorem illum, ipsum laudantium voluptates! Quia maxime eveniet earum pariatur voluptate eius autem nostrum, praesentium itaque qui repudiandae doloremque quisquam, nobis, et consectetur? Nisi libero amet delectus quibusdam odit distinctio.</p>
            </div>
        </div>
        <div class="w3-cell w3-mobile">
            <div class="w3-margin">
                <h3>Lorem ipsum dolor sit amet.</h3>
                <p class="w3-padding-24" style="text-align: justify; text-indent:5cap;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis aperiam molestiae quas laborum eligendi sint officia quae esse, saepe minima facilis sequi sapiente quos excepturi! Ad fugiat error ipsam optio rem, voluptatibus nemo cupiditate facilis iusto? Quibusdam culpa aperiam odit placeat asperiores suscipit veritatis veniam similique consequatur aliquid hic ipsum doloribus ad, dolorem et? Assumenda maxime hic modi voluptate culpa amet optio quia eaque nisi harum nihil vero eveniet sapiente dolorem illum, ipsum laudantium voluptates! Quia maxime eveniet earum pariatur voluptate eius autem nostrum, praesentium itaque qui repudiandae doloremque quisquam, nobis, et consectetur? Nisi libero amet delectus quibusdam odit distinctio.</p>
            </div>
        </div>
    </div>
  </div>

{% endblock %}